<div class="container">
  <nav class="navigator">
    <h3 class="logo lin-grad-ryt-lft"></h3>
    <ul class="routes">
      <li class="route bold">Home</li>
      <li class="route light-bold" (click)="contact()">Api</li>
      <li class="route light-bold" (click)="contact()">Help</li>
      <li class="route bold" (click)="contact()">Contact</li>
    </ul>
  </nav>
  <div class="body-main lin-grad-lft-ryt">
    <div class="content">
      <div class="quote">
        <div class="title">
          <span>C</span>onvert your <br />
          images to any<br />
          type for free

          <svg
            width="54"
            height="42"
            viewBox="0 0 84 72"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M52.8187 2.10181V19.7543C34.1122 19.7548 0 19.9307 0 69.8982C3.8675 36.4842 21.6343 36.2741 52.8187 36.2737V55.5512L84 28.8244L52.8187 2.10181Z"
              fill="#76B482"
            />
          </svg>
        </div>
        <div class="description">
          is the world’s fastest image converter of version 1.
        </div>
      </div>
      <div class="test-api">
        <div class="icon">
          <svg
            width="34"
            height="38"
            viewBox="0 0 54 58"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27 0C12.0938 0 0 12.9896 0 29C0 45.0153 12.0938 58 27 58C41.9085 58 54 45.0153 54 29C54 12.9896 41.9108 0 27 0ZM25.596 52.2483V34.0557H16.1775L29.7068 5.75167V23.9443H38.772L25.596 52.2483Z"
              fill="white"
            />
          </svg>
        </div>
        <p class="text">Test <span>API</span> to convert images</p>
      </div>
    </div>
    <div class="upload-image-container">
      <app-upload-image></app-upload-image>
    </div>
  </div>
</div>
